<div class="container">
  <h1>Registration</h1>
  <form [formGroup]="form.formGroup" class="form" (ngSubmit)="register()">
    <mat-form-field class="full-width">
      <input matInput placeholder="First name" formControlName="firstName">
      <mat-error *ngIf="form.getControl('firstName').hasError('required')">
        First name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last name" formControlName="lastName">
      <mat-error *ngIf="form.getControl('lastName').hasError('required')">
        Last name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.getControl('email').hasError('email') && !form.getControl('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.getControl('email').hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.getControl('password').hasError('pattern') && !form.getControl('password').hasError('required')">
        Minimum 8 characters, at least one letter and number
      </mat-error>
      <mat-error *ngIf="form.getControl('password').hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword">
      <mat-error *ngIf="form.getControl('confirmPassword').hasError('required')">
        Confirm password is required
      </mat-error>
    </mat-form-field>
    <p class="text-error">{{registerError}}</p>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.formGroup.invalid">Submit</button>
    <button routerLink="/login" mat-raised-button color="primary">Go to login</button>
  </form>
</div>

