.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .modal-info {
    font-size: 21px;
    font-weight: bold;
  }
  button {
    align-self: flex-end;
  }
}
